NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_GEO_DEFAULT=CA
# Openpay (MX)
NEXT_PUBLIC_OPENPAY_MERCHANT_ID=...
NEXT_PUBLIC_OPENPAY_PUBLIC_KEY=...
# Listmonk (opcional para este demo)
LISTMONK_URL=https://your-listmonk.app
LISTMONK_USER=...
LISTMONK_PASSWORD=...